body{
    font-family: Arial;
    margin:0;
}

header{
    background:#2d2dff;
    color:white;
    text-align:center;
    padding:40px;
}

section{
    padding:40px;
}

h2{
    color:#2d2dff;
}

.project{
    background:#f4f4f4;
    padding:15px;
    margin:10px 0;
    border-radius:10px;
}

footer{
    text-align:center;
    background:#222;
    color:white;
    padding:15px;
}
.profile{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    margin-top:10px;
}
